*.v2
*.suo
*.json
*.dll
*.exe
*.pdb
*.props
*.targets
/Advamced-CSharp/01.Stacks and Queues-Lab/01.ReverseStrings/obj/Debug/netcoreapp3.1
/Advanced-CSharp/01.Stacks and Queues-Lab/01.ReverseStrings/obj/Debug/netcoreapp3.1
*.cache
*.sln
/Advanced-CSharp/01.Stacks and Queues-Lab/02.StackSum/obj/Debug/netcoreapp3.1
netcoreapp3.1
*.sqlite
/HackerRankProblems/HackerRankProblems/TeamInterface/TeamInterface.csproj
